/*колір палитры

 --текст лого Raleway
 --текст основний Roboto
 --колір лого #2196f3
 --колір частини лого хедер №000000
 --колір частини лого footer #ffffff

 --колір основний тексту #757575
 --колір навигації заголовку #212121
 --колір акценту синій #2196F3
 --белий #FFFFFF;
 --колір посилань в footer rgba(255, 255, 255, 0.6)

-- колір bgd header #ffffff
-- колір bgd первинний #ffffff 
-- колір bgd вторинний #F5F4FA
-- колір bgd hero, footer #2F303A 
-- колір bgd активної кнопки #188CE8; */


:root {
    --logo-primary-text: #2196F3;
    --logo-header-text: #000000;
    --logo-footer-text: #ffffff;
    
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text: #2196F3;
    --text-color-footer: rgba(255, 255, 255, 0.6);

    --white-color: #ffffff;

    --bgd-header: #ffffff;
    --bgd-primary:#ffffff;
    --bgd-secondary: #f5f4fA;
    --bgd-hero:#2F303A;
    --bgd-btn-active: #188ce8;
}

body {
    background-color: var(--bgd-primary);
    color:var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*style logo header and footer*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height:1.2;
    
    color: var(--logo-primary-text);
}
.logo-header {
    color: var(--logo-header-text);
}
.logo-footer {
    color: var(--logo-footer-text);
}

.header {
    background-color: var(--bgd-header);
}
/* style navigation*/
.nav-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--title-text-color);
}

.nav-item:hover,
.nav-item:focus {
    color: var(--accent-text);
}
.corrent{
    color: var(--accent-text);
}

.auth-item {
    color: var(--primary-text-color);
    background-color: var(--white-text);
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth-item:hover,
.auth-item:focus {
    color: var(--accent-text)
}

/*style hero*/
.hero {
    background-color: var(--bgd-hero);
    color: var(--white-color);
    letter-spacing: 0.06em;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36; 
    text-transform: uppercase;

    text-align: center;
}

/* style button */
.button {
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    background-color: var(--logo-primary-text);

    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--bgd-btn-active);
}

/* style section */
.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

/*style working*/

.work-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;

    color: var(--title-text-color);
}
.work-item {
    line-height: 1.71;
}

/*style team*/
.team {
    background-color: var(--bgd-secondary);
}
.team-list {
    background-color: var(--bgd-primary);
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    color: var(--title-text-color);
}

.team-direction {
    font-size: 16px;
    line-height: 1.19;
}


/* style footer */
.footer {
    background-color: var(--bgd-hero);
    color: var(--text-color-footer);
}

.address {
    font-family: inherit;
    font-style: normal;
    line-height: 1.71;
}
.address-footer {
    color: var(--white-color);
}

.address-item {
    color: var(--text-color-footer);
}

.address-footer:hover,
.address-footer:focus,
.address-item:hover,
.address-item:focus {
    color: var(--accent-text);
}



/*page portpholio*/

.page-portfolio{
    background: var(--bgd-primary);
}

/*Button*/
.list-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    color: var(--title-text-color);
    background-color: var(--bgd-secondary);

    cursor: pointer;
}
/* 
.button.primary {
    color: var(--white-text);
} */

.list-button:hover,
.list-button:focus {
    color: var(--white-color);
    background-color: var(--accent-text);
}

.section-work-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.section-work-projact {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}